extends ./templates/layout.pug

block content
    img(src=`${splash.base}` width="100%")

    div.posts-main
        div.posts-container#books
            h1(style="text-align:center;") Available Books
            div#grid
                div#posts
                    div.post
                        a(href="/workshop/doodling"): img(src="/img/mainpage/WS_Doodling.jpg")
                        br 
                        br
                        strong Doodling
                        br
                        small Conducted by Multiverse with Band of Doodlers

block scripts
    script(src="js/jquery-ui-1.10.4.custom.min.js" type="text/javascript")
    script(src="js/masonry.js")
    script(src="js/get-shit-done.js")
    script(src="js/index.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js")      