meta(charset="utf-8") 
meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")

meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport')

// bootstrap + jQuery
link(href="/bootstrap3/css/bootstrap.css" rel="stylesheet")
link(href="/bootstrap3/css/font-awesome.css" rel="stylesheet")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")

//DONT GO
link(rel="icon" href="/img/favicons/favi.ico")
script(src="https://cdn.rawgit.com/mightyCrow/dont-go/master/lib/dont-go.min.js")
script(src="/js/dontGo.js")

//  CSS stylesheet
link(href="/css/index.css" rel="stylesheet")

// Font Awesome
link(href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet")
link(href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css')

link(href="//fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css")

