// Navbar

div#navbar-full
    div#navbar
        nav.navbar.navbar-ct-black.navbar-transparent.navbar-fixed-top(role="navigation")
            div.container-fluid
                div.navbar-header
                    button.navbar-toggle(type="button"  data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href="/") BOOK LINK

                div.collapse.navbar-collapse#bs-example-navbar-collapse-1           
                    form(class="navbar-form navbar-left navbar-search-form" role="search")
                        div.form-group
                            input(type="text" value="" class="form-control"     placeholder="Search...")
                    ul.nav.navbar-nav.navbar-right
                        li.dropdown
                            a.dropdown-toggle(href="#" data-toggle="dropdown" role="button") REGISTER
                                span.caret#register_popup 
                            ul.dropdown-menu 
                                //form
                                li: b Personal Details
                                li Full Name: 
                                    input(type="text" name="name" id="reg_name")
                                    br 
                                li Username: 
                                    input(type="text" name="username")
                                    br
                                li Password: 
                                    input(type="text" name="pw")
                                    br
                                li.divider(role="separator") 
                                li: b Billing Details
                                li Card No: 
                                    input(type="text" name="cardno") 
                                    br
                                li Address: 
                                    input(type="text" name="address")
                                    br
                                li Phone No: 
                                    input(type="text" name="phoneno") 
                                    br
                                    br
                                li: input(type="submit" value="Register" onClick="submitDetails()")
                        li.dropdown
                            a.dropdown-toggle(href="#" data-toggle="dropdown" role="button") SIGN IN
                                span.caret#sign_in_popup 
                            ul.dropdown-menu
                                form
                                    li Username: 
                                        input(type="text" name="user_signin")
                                        br
                                    li Password: 
                                        input(type="text" name="pw_signin") 
                                        br
                                        br
                                    li: input(type="submit" value="Sign In")
                        li: button.btn: a(href="/cart"): img(src="/img/icon_cart.png" width="36px" height="36px")
                        li: button.btn: a(href="/account"): img(src="/img/icon_account.png" width="36px" height="36px")
                        li: button.btn: a(href="/admin"): img(src="/img/icon_admin.png" width="36px" height="36px")
                        li: button.btn: a(href="/newbook"): img(src="/img/icon_add.png" width="36px" height="36px")
script(src="/js/navBarTransparency.js")

        