
div(class= "w3-display-container w3-content w3-hide-small" style="max-width:1500px")
    img(class="w3-image" src="http://placekitten.com/1920/1280" width="1920" height="1280")
    div(class="w3-display-middle" style="width:65%")
        h3 Search a book
        div(class="w3-row-padding" style="margin:0-16px;")
            div.w3-half
                label Title
                input#search_title(class="w3-input w3-border" type="text" placeholder="Title") 
            div.w3-half
                label Author
                input#search_author(class="w3-input w3-border" type="text" placeholder="Author")
            div.w3-half
                label Publisher 
                input#search_publisher(class="w3-input w3-border" type="text" placeholder="Publisher")
            div.w3-half
                label Subject 
                input#search_subject(class="w3-input w3-border" type="text" placeholder="Subject")                                
            div.w3-half
                label Search By...
                br
                select(class="w3-select" name="option" id="sort")
                    option(value=0) None
                    option(value=1) Year
                    option(value=2) Average Feedback Score
            div.w3-half
                br
                br
                button(class="w3-btn w3-dark-grey" style="float: right;" onClick="search()") Search
