script(src="/js/scroll-blur.js")           
div.blurred-container
    div.img-src(style=`background-image: url(${splash.base})`)
    div.img-src.blur(style=`background-image: url(${splash.cover})` ) <!-- image blur on scroll, custom.js -->
    div.cover.black(data-color="black")